<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.ncl.b3026640.authenticateme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9bca4c385bf918f01fd17fbc7eef888eb97b705c" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>